@font-face {
    font-family: Logo;
    src: url("logo/assets/font.otf");
    src: url("logo/assets/font.woff");
}
body{
	width: 100%;
}
.wrap {
	position: relative;
	perspective: 1200px;
	perspective-origin: 50% 300px;
	}

.cube {
	position: relative;
	top: 200px;
	width: 300px;
	transform-style: preserve-3d;
	margin: 0 auto;
}

.cube div {
	position: absolute;
	width: 300px;
	height: 300px;
	opacity: 0.75;
	border: 1em;
	border-color: black;
}

#back {
	transform: translateZ(-150px) rotateY(180deg);
}
#right {
	transform: rotateY(-270deg) translateX(150px);
	transform-origin: top right;
}
#left {
	transform: rotateY(270deg) translateX(-150px);
	transform-origin: center left;
}
#top {
	transform: rotateX(-90deg) translateY(-150px);
	transform-origin: top center;
}
#bottom {
	transform: rotateX(90deg) translateY(150px);
	transform-origin: bottom center;
}
#front {
	transform: translateZ(150px);
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 10s infinite linear;
}