@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
@font-face {
    font-family: Logo;
    src: url("logo/assets/font.otf");
    src: url("logo/assets/font.woff");
}
body{
	width: 100%;
	font-family: 'Space Mono', monospace;
}
.wrap {
	position: relative;
	perspective: 1200px;
	perspective-origin: 50% 50px;
	}

.cube {
	position: relative;
	top: -150px;
	width: 300px;
	transform-style: preserve-3d;
	margin: 0 auto;
}

.cube div {
	position: absolute;
	width: 300px;
	height: 300px;
	opacity: 0.9;
	padding: 1px;
}

#back {
	transform: translateZ(-150px) rotateY(180deg);
}
#right {
	transform: rotateY(-270deg) translateX(150px);
	transform-origin: top right;
}
#left {
	transform: rotateY(270deg) translateX(-150px);
	transform-origin: center left;
}
#top {
	transform: rotateX(-90deg) translateY(-150px);
	transform-origin: top center;
}
#bottom {
	transform: rotateX(90deg) translateY(150px);
	transform-origin: bottom center;
}
#front {
	transform: translateZ(150px);
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 15s infinite linear;
}
#main {
	position: relative;
	padding-top: 150px;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
}