.Character {
	position: relative;
	float: left;
	height: 560px;
	width: 400px;
	/*background: black;*/
	margin: 10px;
	z-index: 2;
}
#a1 {
	position: absolute;
	top: 80px;
	left: 160px;
	width: 80px;
	height: 160px;
	-webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
	clip-path: polygon(50% 0, 0 100%, 100% 100%);
	background: red;
}
#a2 {
	position: absolute;
	top: 320px;
	left: 80px;
	height: 240px;
	width: 240px;
	-webkit-clip-path: polygon(25% 0, 75% 0, 100% 100%, 0% 100%);
	clip-path: polygon(25% 0, 75% 0, 100% 100%, 0% 100%);
	background: red;
}
#b1 {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 240px;
	height: 160px;
	background: blue;
	border-radius: 0 80px 80px 0;

}
#b2 {
	position: absolute;
	top: 320px;
	left: 80px;
	width: 240px;
	height: 160px;
	background: blue;
	border-radius: 0 80px 80px 0;
}
#c1 {
	position: absolute;
	top: 70px;
	left: 80px;
	height: 420px;
	width: 240px;
	border-radius: 120px;
	background: orange;
}
#c2 {
	position: absolute;
	left: 320px;
	top: 240px;
	height: 80px;
	width: 80px;
	background: orange;
}
#d1 {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 240px;
 	height: 400px;
 	background: yellow;
 	border-top-right-radius: 240px;
 	border-bottom-right-radius: 240px;
}
#e1 {
	position: absolute;
	left: 80px;
	top: 80px;
	width: 320px;
	height: 160px;
	background: purple;
}
#e2 {
	position: absolute;
	left: 320px;
	top: 240px;
	height: 80px;
	width: 80px;
	background: purple;
}
#e3 {
	position: absolute;
	left: 80px;
	top: 320px;
	width: 320px;
	height: 160px;
	background: purple;
}
#f1 {
	position: absolute;
	left: 80px;
	top: 80px;
	width: 320px;
	height: 160px;
	background: purple;
}
#f2 {
	position: absolute;
	left: 320px;
	top: 240px;
	height: 80px;
	width: 80px;
	background: purple;
}
#f3 {
	position: absolute;
	left: 80px;
	top: 320px;
	width: 320px;
	height: 240px;
	background: purple;
}
#g1 {
	position: absolute;
	top: 70px;
	left: 80px;
	height: 170px;
	width: 240px;
	border-top-right-radius: 120px;
	border-top-left-radius: 120px;
	background: orange;
}
#g2 {
	position: absolute;
	left: 80px;
	top: 240px;
	height: 80px;
	width: 320px;
	background: orange;
}
#g3 {
	position: absolute;
	top: 320px;
	left: 80px;
	height: 170px;
	width: 240px;
	border-bottom-right-radius: 120px;
	border-bottom-left-radius: 120px;
	background: orange;
}
#g4 {
	position: absolute;
	left: 200px;
	top: 320px;
	height: 80px;
	width: 120px;
	background: black;
}
#h1 {
	position: absolute;
	left: 80px;
	top: 0px;
	width: 240px;
	height: 240px;
	background: cyan;
}
#h2 {
	position: absolute;
	left: 80px;
	top: 320px;
	width: 240px;
	height: 240px;
	background: cyan;
}
#i1 {
	position: absolute;
	left: 0px;
	top: 80px;
	width: 160px;
	height: 400px;
	background: magenta;
}
#i2 {
	position: absolute;
	left: 240px;
	top: 80px;
	width: 160px;
	height: 400px;
	background: magenta;
}
#j1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 320px;
	height: 320px;
	background: magenta;
}
#j2 {
	position: absolute;
	top: 320px;
	left: 80px;
	height: 170px;
	width: 240px;
	border-bottom-right-radius: 120px;
	border-bottom-left-radius: 120px;
	background: magenta;
}
#k1 {
	position: absolute;
	left: 80px;
	top: 0px;
	border: 120px solid transparent;
	border-left: 120px solid #007BFF;
	border-top: 120px solid #007BFF;
}
#k2 {
	position: absolute;
	left: 80px;
	top: 320px;
	border: 120px solid transparent;
	border-left: 120px solid #007BFF;
	border-bottom: 120px solid #007BFF;
}
#l1 {
	position: absolute;
	left: 80px;
	top: 0px;
	width: 320px;
	height: 480px;
	background: red;
}
#m1 {
	position: absolute;
	left: 80px;
	top: 120px;
	border: 60px solid transparent;
	border-left: 60px solid #007BFF;
	border-bottom: 60px solid #007BFF;
}
#m2 {
	position: absolute;
	left: 200px;
	top: 120px;
	border: 60px solid transparent;
	border-right: 60px solid #007BFF;
	border-bottom: 60px solid #007BFF;
}
#m3 {
	position: absolute;
	left: 80px;
	top: 240px;
	width: 240px;
	height: 320px;
	background: #007BFF;
}
#n1 {
	position: absolute;
	left: 80px;
	top: 120px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 200px 440px 0px;
	border-color: transparent transparent #007bff transparent;
}
#n2 {
	position: absolute;
	left: 120px;
	top: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 200px 440px 0;
	border-color: transparent #007bff transparent transparent;
}
#o1 {
	position: absolute;
	top: 70px;
	left: 80px;
	height: 420px;
	width: 240px;
	border-radius: 120px;
	background: orange;
}
#p2 {
	position: absolute;
	left: 80px;
	top: 160px;
	width: 320px;
	height: 400px;
	background: red;
}
#p3 {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 320px;
	width: 400px;
	border-radius: 0 160px 160px 0;
	background: black;
}
#p1 {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 240px;
	height: 160px;
	background: blue;
	border-radius: 0 80px 80px 0;
}
#q1 {
	position: absolute;
	top: 70px;
	left: 80px;
	height: 420px;
	width: 240px;
	border-radius: 120px;
	background: orange;
}
#q2 {
	position: absolute;
	left: 180px;
	top: 400px;
	height: 80px;
	width: 200px;
	background: black;
	transform:rotate(45deg);
}
#r1{
	position: absolute;
	top: 80px;
	left: 80px;
	width: 240px;
	height: 160px;
	background: blue;
	border-radius: 0 80px 80px 0;
}
#r2 {
	position: absolute;
	left: 80px;
	top: 320px;
	border: 120px solid transparent;
	border-left: 120px solid #007BFF;
	border-bottom: 120px solid #007BFF;
}
#s5 {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 240px;
	height: 160px;
	background: blue;
	border-radius: 80px;
}
#s6 {
	position: absolute;
	top: 320px;
	left: 80px;
	width: 240px;
	height: 160px;
	background: blue;
	border-radius: 80px;
}
#s1 {
	position: absolute;
	top: 160px;
	left: 240px;
	height: 240px;
	width: 160px;
	background: blue;
}
#s2 {
	position: absolute;
	top: 160px;
	left: 0px;
	height: 240px;
	width: 160px;
	background: blue;
}
#s4 {
	position: absolute;
	top: 240px;
	left: 200px;
	height: 320px;
	width: 200px;
	border-radius: 0 160px 0 0;
	background: black;
}
#s3 {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 320px;
	width: 200px;
	border-radius: 0 0 0 160px;
	background: black;
}
#t1 {
	position: absolute;
	left: 0px;
	top: 80px;
	width: 160px;
	height: 480px;
	background: magenta;
}
#t2 {
	position: absolute;
	left: 240px;
	top: 80px;
	width: 160px;
	height: 480px;
	background: magenta;
}
#u1 {
	position: absolute;
	top: 0px;
	left: 80px;
	height: 490px;
	width: 240px;
	border-radius: 0px 0px 120px 120px;
	background: orange;
}
#v1 {
	position: absolute;
	top: 0px;
	left: 80px;
	width: 0;
	height: 0;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-top: 480px solid red;
}

#w1 {
	position: absolute;
	left: 80px;
	top: 320px;
	border: 60px solid transparent;
	border-left: 60px solid #007BFF;
	border-top: 60px solid #007BFF;
}
#w2 {
	position: absolute;
	left: 200px;
	top: 320px;
	border: 60px solid transparent;
	border-right: 60px solid #007BFF;
	border-top: 60px solid #007BFF;
}
#w3 {
	position: absolute;
	left: 80px;
	top: 0px;
	width: 240px;
	height: 320px;
	background: #007BFF;
}
#x1 {
	position: absolute;
	top: 80px;
	left: 0px;
	width: 200px;
	height: 400px;
	background: #1e90ff;
	-webkit-clip-path: polygon(60% 50%, 0 0, 0 100%);
	clip-path: polygon(60% 50%, 0 0, 0 100%);
}
#x2 {
	position: absolute;
	top: 80px;
	left: 200px;
	width: 200px;
	height: 400px;
	background: #1e90ff;
	-webkit-clip-path: polygon(40% 50%,100% 0, 100% 100%);
	clip-path: polygon(40% 50%,100% 0, 100% 100%);
}
#y1 {
	position: absolute;
	top: 80px;
	left: 0px;
	width: 200px;
	height: 400px;
	background: #1e90ff;
	-webkit-clip-path: polygon(60% 50%, 0 0, 0 100%);
	clip-path: polygon(60% 50%, 0 0, 0 100%);
}
#y1 {
	position: absolute;
	top: 80px;
	left: 0px;
	height: 480px;
	width: 160px;
	-webkit-clip-path: polygon(0 0, 100% 42%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 42%, 100% 100%, 0% 100%);
	background: orange;
}
#y2 {
	position: absolute;
	top: 80px;
	left: 240px;
	height: 480px;
	width: 160px;
	-webkit-clip-path: polygon(0 42%, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 42%, 100% 0, 100% 100%, 0% 100%);
	background: orange;
}
#z1 {
	position: absolute;
	top: 80px;
	left: 0px;
	height: 360px;
	width: 320px;
	-webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
	clip-path: polygon(0 0, 0 100%, 100% 0);
	background: aqua;
}
#z2 {
	position: absolute;
	top: 120px;
	left: 80px;
	height: 360px;
	width: 320px;
	-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
	clip-path: polygon(0 100%, 100% 100%, 100% 0);
	background: aqua;
}