body {
    margin: 0 auto;
}
.column, #column1 {
    float: left;
}
#description {
    top: 50px;
    position: fixed;
    width: 14%;
    padding-left: 2.5%;
}
p{
    font-size: 0.78em;
    line-height: 1.5em;

}
#column1 {
    width: 20%;
    height: 1px;
}
.column {
    top: 100px;
    position: relative;
    width: 800px;
    height: 100%;
    margin: auto;
}
.Character {
    position: relative;
    float: left;
    height: 560px;
    width: 400px;
    /*background: black;*/
    margin: 0px;
    z-index: 2;
}




/* ——————— Letters ——————— */
#a {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 560px;
    width: 400px;
    /*background: black;*/
    z-index: 1;
}
#a1 {
    position: absolute;
    top: 80px;
    left: 160px;
    width: 80px;
    height: 160px;
    -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    background: white;
    z-index: 2;
}
#a2 {
    position: absolute;
    top: 320px;
    left: 80px;
    height: 240px;
    width: 240px;
    -webkit-clip-path: polygon(25% 0, 75% 0, 100% 100%, 0% 100%);
    clip-path: polygon(25% 0, 75% 0, 100% 100%, 0% 100%);
    background: white;
    z-index: 2;
}
#b {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 560px;
    width: 400px;
    background: black;
    z-index: 1;
}
#b1 {
    position: absolute;
    top: 80px;
    left: 80px;
    width: 240px;
    height: 160px;
    background: black;
    border-radius: 0 80px 80px 0;
    z-index: 2;
}
#defaultCanvas1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 160px;
    border-radius: 0 80px 80px 0;
    z-index: 2;
}
#b2 {
    position: absolute;
    top: 320px;
    left: 80px;
    width: 240px;
    height: 160px;
    background: black;
    border-radius: 0 80px 80px 0;
    z-index: 2;
}
#defaultCanvas2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 160px;
    border-radius: 0 80px 80px 0;
    z-index: 2;
}
#c1 {
    position: absolute;
    top: 70px;
    left: 80px;
    height: 420px;
    width: 240px;
    border-radius: 120px;
    z-index: 2;
}
#defaultCanvas5 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 420px;
    width: 240px;
    border-radius: 120px;
    z-index: 2;
}
#defaultCanvas3 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 560px;
    width: 400px;
    /*background: black;*/
    z-index: 1;
}
#c2 {
    position: absolute;
    left: 320px;
    top: 240px;
    height: 80px;
    width: 80px;
    z-index: 2;
    background: white;
    z-index: 2;
}
#d1 {
    position: absolute;
    top: 80px;
    left: 80px;
    width: 240px;
    height: 400px;
    border-top-right-radius: 240px;
    border-bottom-right-radius: 240px;
}
#defaultCanvas4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 400px;
    border-top-right-radius: 240px;
    border-bottom-right-radius: 240px;
}
#e1 {
    position: absolute;
    left: 80px;
    top: 80px;
    width: 320px;
    height: 160px;
}
#e2 {
    position: absolute;
    left: 320px;
    top: 240px;
    height: 80px;
    width: 80px;
}
#e3 {
    position: absolute;
    left: 80px;
    top: 320px;
    width: 320px;
    height: 160px;
}
#f1 {
    position: absolute;
    left: 80px;
    top: 80px;
    width: 320px;
    height: 160px;
    background: purple;
}
#f2 {
    position: absolute;
    left: 320px;
    top: 240px;
    height: 80px;
    width: 80px;
    background: purple;
}
#f3 {
    position: absolute;
    left: 80px;
    top: 320px;
    width: 320px;
    height: 240px;
    background: purple;
}
#defaultCanvas18 {
    position: absolute;
    top: 70px;
    left: 80px;
    height: 170px;
    width: 240px;
    border-top-right-radius: 120px;
    border-top-left-radius: 120px;
    background: orange;
}
#g2 {
    position: absolute;
    left: 80px;
    top: 240px;
    height: 80px;
    width: 320px;
    background: orange;
}
#defaultCanvas20 {
    position: absolute;
    top: 320px;
    left: 80px;
    height: 170px;
    width: 240px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 120px;
    background: orange;
}
#g4 {
    position: absolute;
    left: 200px;
    top: 320px;
    height: 80px;
    width: 120px;
}
#h1 {
    position: absolute;
    left: 80px;
    top: 0px;
    width: 240px;
    height: 240px;
    background: cyan;
}
#h2 {
    position: absolute;
    left: 80px;
    top: 320px;
    width: 240px;
    height: 240px;
    background: cyan;
}
#i1 {
    position: absolute;
    left: 0px;
    top: 80px;
    width: 160px;
    height: 400px;
    background: magenta;
}
#i2 {
    position: absolute;
    left: 240px;
    top: 80px;
    width: 160px;
    height: 400px;
    background: magenta;
}
#j1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 320px;
    height: 320px;
}
#defaultCanvas29 {
    position: absolute;
    top: 320px;
    left: 80px;
    height: 170px;
    width: 240px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 120px;
}
#k1 {
    position: absolute;
    left: 80px;
    top: 0px;
    border: 120px solid transparent;
    border-left: 120px solid black;
    border-top: 120px solid black;
}
#k2 {
    position: absolute;
    left: 80px;
    top: 320px;
    border: 120px solid transparent;
    border-left: 120px solid black;
    border-bottom: 120px solid black;
}
#l1 {
    position: absolute;
    left: 80px;
    top: 0px;
    width: 320px;
    height: 480px;
    background: white;
}
#m1 {
    position: absolute;
    left: 80px;
    top: 120px;
    height: 440px;
    width: 240px;
    -webkit-clip-path: polygon(50% 36%, 0% 0%, 0% 100%, 100% 100%, 100% 0);
    clip-path: polygon(50% 36%, 0% 0%, 0% 100%, 100% 100%, 100% 0);
    background: white;
}
#defaultCanvas33 {
    position: absolute;
    left: 80px;
    top: 120px;
    width: 200px;
    height: 440px;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background: black;
}
#defaultCanvas34 {
    position: absolute;
    left: 120px;
    top: 0px;
    width: 200px;
    height: 440px;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    background: black;
}
#defaultCanvas35 {
    position: absolute;
    top: 70px;
    left: 80px;
    height: 420px;
    width: 240px;
    border-radius: 120px;
    background: orange;
}
#p2 {
    position: absolute;
    left: 80px;
    top: 160px;
    width: 320px;
    height: 400px;
    background: red;
}
#defaultCanvas38 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 320px;
    width: 400px;
    border-radius: 0 160px 160px 0;
}
#defaultCanvas39 {
    position: absolute;
    top: 80px;
    left: 80px;
    width: 240px;
    height: 160px;
    border-radius: 0 80px 80px 0;
}
#defaultCanvas41 {
    position: absolute;
    top: 70px;
    left: 80px;
    height: 420px;
    width: 240px;
    border-radius: 120px;
    background: orange;
}
#q2 {
    position: absolute;
    left: 180px;
    top: 400px;
    height: 80px;
    width: 200px;
    background: white;
    transform:rotate(45deg);
}
#r1{
    position: absolute;
    top: 80px;
    left: 80px;
    width: 240px;
    height: 160px;
    background: white;
    border-radius: 0 80px 80px 0;
}
#r2 {
    position: absolute;
    left: 80px;
    top: 320px;
    border: 120px solid transparent;
    border-left: 120px solid white;
    border-bottom: 120px solid white;
}
#s5 {
    position: absolute;
    top: 80px;
    left: 80px;
    width: 240px;
    height: 160px;
    background: white;
    border-radius: 80px;
}
#s6 {
    position: absolute;
    top: 320px;
    left: 80px;
    width: 240px;
    height: 160px;
    background: white;
    border-radius: 80px;
}
#s1 {
    position: absolute;
    top: 160px;
    left: 240px;
    height: 240px;
    width: 160px;
    background: white;
}
#s2 {
    position: absolute;
    top: 160px;
    left: 0px;
    height: 240px;
    width: 160px;
    background: white;
}
#defaultCanvas45 {
    position: absolute;
    top: 240px;
    left: 200px;
    height: 320px;
    width: 200px;
    border-radius: 0 160px 0 0;
    background: white;
}
#defaultCanvas44 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 320px;
    width: 200px;
    border-radius: 0 0 0 160px;
    background: white;
}
#tr {
    position: absolute;
    left: 200px;
    top: 0px;
    height: 560px;
    width: 200px
}
#t1 {
    position: absolute;
    left: 0px;
    top: 80px;
    width: 160px;
    height: 480px;
    background: white;
}
#t2 {
    position: absolute;
    left: 240px;
    top: 80px;
    width: 160px;
    height: 480px;
    background: white;
}
#defaultCanvas49 {
    position: absolute;
    top: 0px;
    left: 80px;
    height: 490px;
    width: 240px;
    border-radius: 0px 0px 120px 120px;
}
#defaultCanvas50 {
    z-index: 1
}
#defaultCanvas51 {
    position: absolute;
    top: 0px;
    left: 80px;
    width: 240;
    height: 480;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    z-index: 2;
}

#w1 {
    position: absolute;
    left: 80px;
    top: 320px;
    border: 60px solid transparent;
    border-left: 60px solid white;
    border-top: 60px solid white;
}
#w2 {
    position: absolute;
    left: 200px;
    top: 320px;
    border: 60px solid transparent;
    border-right: 60px solid white;
    border-top: 60px solid white;
}
#w3 {
    position: absolute;
    left: 80px;
    top: 0px;
    width: 240px;
    height: 320px;
    background: white;
}
#x1 {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 200px;
    height: 400px;
    background: white;
    -webkit-clip-path: polygon(60% 50%, 0 0, 0 100%);
    clip-path: polygon(60% 50%, 0 0, 0 100%);
}
#x2 {
    position: absolute;
    top: 80px;
    left: 200px;
    width: 200px;
    height: 400px;
    background: white;
    -webkit-clip-path: polygon(40% 50%,100% 0, 100% 100%);
    clip-path: polygon(40% 50%,100% 0, 100% 100%);
}
#y1 {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 200px;
    height: 400px;
    background: #1e90ff;
    -webkit-clip-path: polygon(60% 50%, 0 0, 0 100%);
    clip-path: polygon(60% 50%, 0 0, 0 100%);
}
#y1 {
    position: absolute;
    top: 80px;
    left: 0px;
    height: 480px;
    width: 160px;
    -webkit-clip-path: polygon(0 0, 100% 42%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 42%, 100% 100%, 0% 100%);
    background: black;
}
#y2 {
    position: absolute;
    top: 80px;
    left: 240px;
    height: 480px;
    width: 160px;
    -webkit-clip-path: polygon(0 42%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 42%, 100% 0, 100% 100%, 0% 100%);
    background: black;
}
#z1 {
    position: absolute;
    top: 80px;
    left: 0px;
    height: 360px;
    width: 320px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 0);
    background: black;
}
#z2 {
    position: absolute;
    top: 120px;
    left: 80px;
    height: 360px;
    width: 320px;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    background: black;
}

/* 1000 Break 
-------------------------------------------------- */
@media screen and (min-width: 800px) and (max-width : 1000px) {

  /* text */
    .column, #column1 {
        float: none;
    }
    #description {
        top: 50px;
        margin: 0 auto;
        position: relative;
        width: 80%;
        padding-left: 5%;
        padding-right: 5%;
    }
    h4 {
        font-size: 1.5em;
    }
    p{
        font-size: 1.5em;
    }
    #column1 {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }


  /* image */
    .column {
        position: relative;
        top: 100px;
        margin: 0 auto;
        width: 800px;
        height: 100%;
    }
}
/* 1000 Break 
-------------------------------------------------- */
@media screen and (max-width : 800px) {

  /* text */
    .column, #column1 {
        float: none;
    }
    #description {
        top: 50px;
        margin: 0 auto;
        position: relative;
        width: 80%;
        padding-left: 5%;
        padding-right: 5%;
    }
    h4 {
        font-size: 1.5em;
    }
    p{
        font-size: 1.5em;
    }
    #column1 {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }


  /* image */
    .column {
        position: relative;
        top: 100px;
        margin: 0 auto;
        width: 400px;
        height: 100%;
    }
}
