.Character {
	position: relative;
	float: left;
	height: 560px;
	width: 400px;
	background: black;
	margin: 10px;
	z-index: 2;
}

#a1 {
	position: absolute;
	top: 80px;
	left: 160px;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 160px solid red;
	z-index: 1;
}
#a2 {
	position: absolute;
	top: 320px;
	left: 80px;
	border-bottom: 240px solid red;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	height: 0;
	width: 120px;
}
#b1 {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 240px;
	height: 160px;
	background: blue;
	border-radius: 0 80px 80px 0;

}
#b2 {
	position: absolute;
	top: 320px;
	left: 80px;
	width: 240px;
	height: 160px;
	background: blue;
	border-radius: 0 80px 80px 0;
}
#c1 {
	position: absolute;
	top: 70px;
	left: 80px;
	height: 420px;
	width: 240px;
	border-radius: 120px;
	background: orange;
}
#c2 {
	position: absolute;
	left: 320px;
	top: 240px;
	height: 80px;
	width: 80px;
	background: orange;
}
#d1 {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 240px;
 	height: 400px;
 	background: yellow;
 	border-top-right-radius: 240px;
 	border-bottom-right-radius: 240px;
}
#e1 {
	position: absolute;
	left: 80px;
	top: 80px;
	width: 320px;
	height: 160px;
	background: purple;
}
#e2 {
	position: absolute;
	left: 320px;
	top: 240px;
	height: 80px;
	width: 80px;
	background: purple;
}
#e3 {
	position: absolute;
	left: 80px;
	top: 320px;
	width: 320px;
	height: 160px;
	background: purple;
}
#f1 {
	position: absolute;
	left: 80px;
	top: 80px;
	width: 320px;
	height: 160px;
	background: purple;
}
#f2 {
	position: absolute;
	left: 320px;
	top: 240px;
	height: 80px;
	width: 80px;
	background: purple;
}
#f3 {
	position: absolute;
	left: 80px;
	top: 320px;
	width: 320px;
	height: 240px;
	background: purple;
}
#g1 {
	position: absolute;
	top: 70px;
	left: 80px;
	height: 170px;
	width: 240px;
	border-top-right-radius: 120px;
	border-top-left-radius: 120px;
	background: orange;
}
#g2 {
	position: absolute;
	left: 80px;
	top: 240px;
	height: 80px;
	width: 320px;
	background: orange;
}
#g3 {
	position: absolute;
	top: 320px;
	left: 80px;
	height: 170px;
	width: 240px;
	border-bottom-right-radius: 120px;
	border-bottom-left-radius: 120px;
	background: orange;
}
#g4 {
	position: absolute;
	left: 200px;
	top: 320px;
	height: 80px;
	width: 120px;
	background: black;
}
#h1 {
	position: absolute;
	left: 80px;
	top: 0px;
	width: 240px;
	height: 240px;
	background: cyan;
}
#h2 {
	position: absolute;
	left: 80px;
	top: 320px;
	width: 240px;
	height: 240px;
	background: cyan;
}
#i1 {
	position: absolute;
	left: 0px;
	top: 80px;
	width: 160px;
	height: 400px;
	background: magenta;
}
#i2 {
	position: absolute;
	left: 240px;
	top: 80px;
	width: 160px;
	height: 400px;
	background: magenta;
}
#j1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 320px;
	height: 320px;
	background: magenta;
}
#j2 {
	position: absolute;
	top: 320px;
	left: 80px;
	height: 170px;
	width: 240px;
	border-bottom-right-radius: 120px;
	border-bottom-left-radius: 120px;
	background: magenta;
}
#k1 {
	position: absolute;
	left: 80px;
	top: 0px;
	border: 120px solid transparent;
	border-left: 120px solid #007BFF;
	border-top: 120px solid #007BFF;
}
#k2 {
	position: absolute;
	left: 80px;
	top: 320px;
	border: 120px solid transparent;
	border-left: 120px solid #007BFF;
	border-bottom: 120px solid #007BFF;
}
#l1 {
	position: absolute;
	left: 80px;
	top: 0px;
	width: 320px;
	height: 480px;
	background: red;
}