@import url();

body {
	background: white;
	margin: 0;
	padding: 0;
}
.nav {
	width: 100%;
	height: 5.5em;
	background: white;
	position: fixed;
	opacity: 0.5;
    z-index: 2;
}

/* Text
-------------------------------------------------- */
.navitem{
	position: relative;
	top: 15%;
	float: left;
}
.logotext {
	position: relative;
	margin: 0px;
	top: 4px;
	font-family: helvetica;
	font-size: 3em;
}



/* Image
-------------------------------------------------- */
.logo{
	position: relative;
	height: 60px;
}
.intro {
	width: 100%;
	height: 42em;
	background: tomato;
	position: absolute;
	top: 0;
	z-index: 1;

}
.divide {
	position: relative;
	top: 42em;
	width: 100%;
	height: 10em;
	background: red;
	z-index: 1;
	opacity: .5;
}
.content{
	position: relative;
	top: 42em;
}
.small {
	width: 25%;
	margin-right: -4px;
	margin-bottom: -4px;
}

/* 1024 Break 
-------------------------------------------------- */
@media screen and (min-width : 600px) and (max-width : 1024px) {

  /* text */


  /* image */
  	.small {
		width: 33.33%;
		margin-right: -4px;
		margin-bottom: -4px;
	}

}

/* 600 Break 
-------------------------------------------------- */

@media screen and (min-width : 320px) and (max-width : 600px) {

  /* text */

  /* image */
  	.small {
		width: 50%;
		margin-right: -4px;
		margin-bottom: -4px;
	}
}

/* 320 Break 
-------------------------------------------------- */

@media screen and (max-width : 320px) {

  /* text */

  /* image */
  	.small {
		width: 50%;
		margin-right: -4px;
		margin-bottom: -4px;
	}
}
